/* custom css*/
.wcandidate_signup_form  input{margin-bottom:8px !important} 
.candidate_signup_form .help-block{color:#fff}
.employee_signup_form .help-block{color:#E23300}
.login_widget .help-block{color:#da3a3a }
.pd-l-r-0{padding-left:0px;padding-right:0px}
.company_post_a_job_form .help-block, #candidateProfile .help-block{color:#E23300}
.non-edit-form-element{display:none; color: green;font-size: 2rem;font-style: normal;font-weight: 400;}
/*.edit-form-element{display:none !important}*/
.jobs_list{ list-style: none; padding-left: 0px; }
#jobs-list .pagination{float:right}
.jobs-view-toggle-data{list-style: none;padding-left: 0px; }
ul.jobs-view-toggle-data li {display:inline;}
.ui-datepicker-calendar td{ line-height: 20px;
    padding: 5px 10px;}
	
.ui-datepicker-calendar{ background-color: transparent;
    margin: 0 0 0px;}
.ui-datepicker-prev{float:left}	
.ui-datepicker-next {float:right}	
.ui-datepicker-title{text-align:center;font-size:18px}
.ui-datepicker-today{background:#2aadde}
.ui-datepicker-today a{ color: #fff;
    font-size: 18px;
    font-weight: bold;}
.userSkills i.fa-times{color:red;cursor:pointer}	
.userSkills i.fa-plus{color:green;cursor:pointer}	
.select2-choices{min-height:40px !important}
.select2-search-choice{ min-height: 30px !important;padding-top: 7px !important}
.select2-search-choice-close{margin-top:3px !important}	

.select2-container{padding-bottom: 15px !important;}
.select2-choice{min-height: 40px !important;padding-top: 6px !important;}
.functionalitySearch{max-height:200px;overflow-y:scroll}